@import "../bower_components/compass-breakpoint/stylesheets/breakpoint"; // Breakpoint

/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}

html {
  background-color: #fff !important;
  min-height: 500px;
}

.bgc-sin {
  background-color: #6B2228;
}


.headertext {
  color: #6B2228 !important;
  // font-weight: bold;
  padding: 25px 0 15px 0;
  border-bottom: 2px solid #6B2228!important;
}

.headertext2 {
  color: #6B2228 !important;
  // font-weight: bold;
  padding: 25px 0 15px 0;
}

header {
  width: 100%;
  padding: 20px 0px;
  float: left;
}

.center-btn {
  margin: 0px auto!important;
}

.border-sin {
  border-bottom: 2px solid #6B2228!important;
}

.text-field--is-focused .text-field__label {
    color: #6B2228!important;
}

.text-field:after {
  background-color: #6B2228!important;
}

.lx-date-input input.text-field__input {
    pointer-events: none;
}


.btn-sin {
  background-color: #6B2228!important;
  font-size: 15px;
  padding: 0 50px!important;
}

.checkbox__label:after {
  color: #6B2228 !important;
}

.wrapper {
  margin: 24px;
  padding: 15px;
  min-height: 90%;
  border-radius: 2px;
  background-color: #FFF;
  border-top: 3px solid #662929;
  border-bottom: 3px solid #662929;
  border-radius: 4px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.header-sin {
    background-color: #6B2228;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.082);
    height: 60px;
    left: 0;
    padding: 12px;
}

input[google-place]::-webkit-input-placeholder {
    opacity: 0;
}

input[google-place]:-moz-placeholder {
    /* Firefox 18- */

    opacity: 0;
}

input[google-place]::-moz-placeholder {
    /* Firefox 19+ */

    opacity: 0;
}

input[google-place]:-ms-input-placeholder {
    opacity: 0;
}

.check-down {
  margin-top: 10px;
}


@font-face {
  font-family: "AvantGarde Bk BT";
  src: url('../fonts/Avgardn.eot');
  src: url('../fonts/Avgardn.eot?#iefix') format('embedded-opentype'), url('../fonts/Avgardn.ttf') format('truetype'), url('../fonts/Avgardn.woff') format('woff'), url('../fonts/Avgardn.svg#AvantGarde Bk BT') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Trajan Pro";
  src: url('../fonts/TrajanPro-Regular_0.eot');
  src: url('../fonts/TrajanPro-Regular_0.eot?#iefix') format('embedded-opentype'), url('../fonts/TrajanPro-Regular_0.otf') format('opentype'), url('../fonts/TrajanPro-Regular_0.woff') format('woff'), url('../fonts/TrajanPro-Regular_0.ttf') format('truetype'), url('../fonts/TrajanPro-Regular_0.svg#Trajan Pro') format('svg');
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100%;
  padding: 20px 0px;
  float: left;
}
.logo {
  @include breakpoint(desktop) {
    position: absolute;
    LEFT: 90;
	}
  @include breakpoint(phablet) {
    float: left;
  }
  @include breakpoint(mobileonly) {
    float: left;
  }
  @include breakpoint(tablet) {
    position: absolute;
    LEFT: 90;
  }
}

.nav-right {
  // float: left;
  // width: 80%;
  text-align: center;
  margin-left: 30px;
}
h1 {
  font-family: "Trajan Pro";
  font-size: 31px;
  color: #662929;
  margin: 10px 0px 0px 0px;
}
.head-desc {
  color: #662929;
  font-family: "AvantGarde Bk BT";
  font-size: 13px;
  line-height:20px;
}
.head-desc a{
  text-decoration:none;
}
.application {
  font-size: 20px;
  letter-spacing: 1;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  box-sizing: border-box;
    font-family: "AvantGarde Bk BT";
    color: #662929;
}
.application span {
  font-size: 20px;
  font-weight: bold;
  font-family: "AvantGarde Bk BT";
  color: #662929;
}
.text-cont {
  float: left;
  width: 100%;
  padding: 13px 0px;
  // border-bottom: 1px solid #662929;
  font-family: "AvantGarde Bk BT";
  color: #662929;
}
.text-cont p {
  font-size: 14px;
  text-align: justify;
  line-height:25px;
  font-family: "AvantGarde Bk BT";
  color: #662929;
}
.text-cont p:last-child {
  // border-bottom: 1px solid #662929;
  padding-bottom:10px;
  font-family: "AvantGarde Bk BT";
  color: #662929;
}

.head-desc a {
    text-decoration: none;
    box-sizing: border-box;
    font-family: "AvantGarde Bk BT";
    color: #662929;
}

.less-padding {
  padding:6.3px 0px !important;
}

.br-der {
  border-bottom: 1px solid #6B2228!important;
}
